*{
    margin: 0;
    padding: 0;
    font-family: "Gilroy";
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
}
#top{
    width: 100%;
    height: 60%;
    /* background-image: url(https://images.unsplash.com/photo-1506259091721-347e791bab0f?auto=format&fit=crop&q=80&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&w=2070); */
    background-size: cover;
    background-color: #B4B0B2;
    background-position: bottom;
}
#overlay{
    position: relative;
    background-color: rgba(0, 0, 0, 0.0);
    width: 100%;
    height: 100%;
}
#text{
    position: absolute;
    width: 100%;
    bottom: 20%;
    padding: 0 10vw;
     /* height: 120px;     height hat jayegi to element me utna space hoga jitna uska content hai */
     /* background-color: red;  */
}
#text h1{
    font-size: 6vw;
    font-weight: 500;
}
#bottom{
    width: 100%;
    height: 40%;
    background-color: blue;
    display: flex;
}
#bot_1{
    width: 25%;
    height: 100%;
    background-color: yellow;
}
#bot_2{
    width: 25%;
    height: 100%;
    background-color: green;
}
#bot_3{
    width: 25%;
    height: 100%;
    background-color: palevioletred;
}
#bot_4{
    width: 25%;
    height: 100%;
    background-color: purple;
}