*{
    margin: 0;
    padding: 0;
    font-family: "Gilroy";
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
}
#top{
    
    width: 100%;
    height: 60%;
    /* background-image: url(https://images.unsplash.com/photo-1506259091721-347e791bab0f?auto=format&fit=crop&q=80&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&w=2070); */
    background-size: cover;
    background-color: #B4B0B2;
    background-position: bottom;
    color: #fff;
}
#overlay{
    position: relative;
    background-color: rgba(0, 0, 0, 0.0);
    width: 100%;
    height: 100%;
}
#text{
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    bottom: 20%;
    padding: 0 10vw;
     /* height: 120px;     height hat jayegi to element me utna space hoga jitna uska content hai */
     /* background-color: red;  */
}
#text-right{
    align-items: center;
    width: 60%;
    display: flex;
    justify-content: space-between;
}
#text-right p{
    font-size: 12px;
    width: 40%;
}
#text h1{
    font-size: 6vw;
    font-weight: 500;
}
#bottom{
    width: 100%;
    height: 40%;
    /* background-color: blue; */
    display: flex;
}
#bot_1{
    padding: 30px;
    width: 25%;
    height: 100%;
    background-color:white;
    
}
#bot_1 p{
    margin-top: 20px;
    font-size: 12px;
}
#bot_2{
    width: 25%;
    height: 100%;
    /* background-color: red; */
    background-image: url(https://images.unsplash.com/photo-1530007874544-a6f7674b5a47?auto=format&fit=crop&q=80&w=1887&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size:cover;
    background-position: center;
   
}
#bot_3{
    width: 20%;
    height: 100%;
    /* background-color: palevioletred; */
}
#b_top{
    padding: 20px;
    width: 100%;
    height: 50%;
    background-color: orangered;
    color: #fff;
}
#b_top p{
    margin-top: 10px;
    font-size: 10px;
}
#b_bot{
    width: 100%;
    height: 50%;
    background-image: url(https://images.unsplash.com/photo-1614708403384-716417bc3eee?auto=format&fit=crop&q=60&w=600&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTU2fHxvcmFuZ2V8ZW58MHx8MHx8fDA%3D);
    background-size: cover;
    background-position: center;
}
#bot_4{
    padding: 30px;
    width: 30%;
    height: 100%;
    background-color: #444;
    color: white;
}
.notF{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.notF #photo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: red;
}
.notf p{
    width: 86%;
    font-size: 12px;
}